.lead {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    margin-top: 56px;
    margin-left: 148px;
    margin-right: 148px;
}

@media (max-width: 1024px) {
    .lead {
      margin-top: 48px;
      margin-left: 48px;
      margin-right: 48px;
    }
  }
  
@media (max-width: 768px) {
    .lead {
        margin-left: 0;
        margin-right: 0;
    }
}
  
