.places__img {
    width: 460px;
    height: 460px;
    object-fit: cover;
    margin: 0;
}

@media all and (max-width:1024px) {
    .places__img {
        width: 440px;
        height: 440px;
    }
    
}

@media all and (max-width:978px) {
    .places__img {
        width: 340px;
        height: 340px;
    }
    
}

@media all and (max-width:320px) {
    .places__img {
        max-width: 100%;
    }
    
}