.footer__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

@media all and (max-width:655px) {
    .footer__row {
        flex-direction: column;
    }
}